# EDA (Exploratory Data Analysis)

## Introduction

Task: Find prices for electricity (day-ahead) for Denmark. As discussed with Roman, these prices already include the different factors that affect them and are a straightforward way to predict el_price for tomorrow, using Darts (https://unit8co.github.io/darts/) library. Darts is a Python library for user-friendly forecasting and anomaly detection on time series. The energy price tomorrow will be determined by the price of electricity yesterday. 

Approach: Electricity Maps (https://www.electricitymaps.com) is an online platform that provides real-time information about the carbon intensity of electricity production and consumption in various countries and regions around the world. Electricity Maps aims to raise awareness about the carbon intensity of electricity and help individuals and organizations make more informed decisions about their energy consumption and carbon footprint. The platform uses data from a variety of sources, they fetch raw production data from public, free, and official sources. Here a link to a must-read brief explanation on how they trace the origin of electricity: https://www.electricitymaps.com/blog/flow-tracing. Reading so, we assume that the price of the electricity at a certain zone is very affected by the imports and exports of electricity at that exact point, which is also related to the supply and demand at that point. 

At their GitHub repo (https://github.com/electricitymaps/electricitymaps-contrib#readme),  we have found a FAQ which asks the following: Where does the data come from?  They provide a link (https://github.com/electricitymaps/electricitymaps-contrib#readme) where they have a readme file that explains all the different data sources and we have been able to allocate and track the data that suits for our project.  

As mentioned before, we need the electricity price one day ahead at Denmark (Zone 1 – DK1): provided by the ENTSO-E (https://transparency.entsoe.eu/).

We download price data for the years 2020, 2021 and 2022, as csv files.

## Data cleaning

In [1]:
# import
import pandas as pd
import glob

In [2]:
# all csv 
csv_files = glob.glob('/Users/endikamichelenabanuelos/Desktop/AAU/M6/Semester project/M6_sem_project/Data/*.csv')

In [3]:
# df
df = pd.DataFrame()

In [4]:
# use a for loop to iterate through the CSV files and load each one into a DataFrame
for file in csv_files:
    temp_df = pd.read_csv(file)
    df = pd.concat([df, temp_df], ignore_index=True)

In [5]:
# reset the index of the DataFrame
df = df.reset_index(drop=True)

In [6]:
# df
df

,MTU (CET/CEST),Day-ahead Price [EUR/MWh],Currency,BZN|DK1
0,01.01.2020 00:00 - 01.01.2020 01:00,33.42,EUR,NaN
1,01.01.2020 01:00 - 01.01.2020 02:00,31.77,EUR,NaN
2,01.01.2020 02:00 - 01.01.2020 03:00,31.57,EUR,NaN
3,01.01.2020 03:00 - 01.01.2020 04:00,31.28,EUR,NaN
4,01.01.2020 04:00 - 01.01.2020 05:00,30.85,EUR,NaN
...,...,...,...,...
26302,31.12.2022 19:00 - 31.12.2022 20:00,67.01,EUR,NaN
26303,31.12.2022 20:00 - 31.12.2022 21:00,40.50,EUR,NaN
26304,31.12.2022 21:00 - 31.12.2022 22:00,14.89,EUR,NaN
26305,31.12.2022 22:00 - 31.12.2022 23:00,9.94,EUR,NaN
26306,31.12.2022 23:00 - 01.01.2023 00:00,4.84,EUR,NaN

In [7]:
# info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26307 entries, 0 to 26306
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   MTU (CET/CEST)             26307 non-null  object
 1   Day-ahead Price [EUR/MWh]  26304 non-null  float64
 2   Currency                   26304 non-null  object
 3   BZN|DK1                    0 non-null      float64
dtypes: float64(2), object(2)
memory usage: 822.2+ KB

In [8]:
# columns
df.columns

Index(['MTU (CET/CEST)', 'Day-ahead Price [EUR/MWh]', 'Currency', 'BZN|DK1'], dtype='object')

In [9]:
# describe
df.describe()

       Day-ahead Price [EUR/MWh]  BZN|DK1
count               26304.000000      0.0
mean                  110.641208      NaN
std                   122.782189      NaN
min                   -58.800000      NaN
25%                    28.767500      NaN
50%                    63.340000      NaN
75%                   152.835000      NaN
max                   871.000000      NaN

# Data preprocessing

In [10]:
# re-name the feature of date and time
df = df.rename(columns={'MTU (CET/CEST)': 'date&time'})
#df
df[:24]

,date&time,Day-ahead Price [EUR/MWh],Currency,BZN|DK1
0,01.01.2020 00:00 - 01.01.2020 01:00,33.42,EUR,NaN
1,01.01.2020 01:00 - 01.01.2020 02:00,31.77,EUR,NaN
2,01.01.2020 02:00 - 01.01.2020 03:00,31.57,EUR,NaN
3,01.01.2020 03:00 - 01.01.2020 04:00,31.28,EUR,NaN
4,01.01.2020 04:00 - 01.01.2020 05:00,30.85,EUR,NaN
5,01.01.2020 05:00 - 01.01.2020 06:00,30.14,EUR,NaN
6,01.01.2020 06:00 - 01.01.2020 07:00,30.17,EUR,NaN
7,01.01.2020 07:00 - 01.01.2020 08:00,30.00,EUR,NaN
8,01.01.2020 08:00 - 01.01.2020 09:00,30.63,EUR,NaN
9,01.01.2020 09:00 - 01.01.2020 10:00,30.59,EUR,NaN
10,01.01.2020 10:00 - 01.01.2020 11:00,30.27,EUR,NaN
11,01.01.2020 11:00 - 01.01.2020 12:00,30.34,EUR,NaN
12,01.01.2020 12:00 - 01.01.2020 13:00,30.59,EUR,NaN
13,01.01.2020 13:00 - 01.01.2020 14:00,30.04,EUR,NaN
14,01.01.2020 14:00 - 01.01.2020 15:00,30.60,EUR,NaN
15,01.01.2020 15:00 - 01.01.2020 16:00,31.09,EUR,NaN
16,01.01.2020 16:00 - 01.01.2020 17:00,31.53,EUR,NaN
17,01.01.2020 17:00 - 01.01.2020 18:00,31.78,EUR,NaN
18,01.01.2020 18:00 - 01.01.2020 19:00,31.64,EUR,NaN
19,01.01.2020 19:00 - 01.01.2020 20:00,31.44,EUR,NaN
20,01.01.2020 20:00 - 01.01.2020 21:00,31.35,EUR,NaN
21,01.01.2020 21:00 - 01.01.2020 22:00,31.07,EUR,NaN
22,01.01.2020 22:00 - 01.01.2020 23:00,30.96,EUR,NaN
23,01.01.2020 23:00 - 02.01.2020 00:00,30.61,EUR,NaN

In [11]:
# Split the datetime column into two columns using the "-" character as the separator
df[['Date', 'time']] = df['date&time'].str.split(' - ', expand=True)

In [12]:
# drop datetime column
df = df.drop('date&time', axis=1)

In [13]:
# drop time column
df = df.drop('time', axis=1)

In [14]:
# drop BZN|DK1
df = df.drop('BZN|DK1', axis=1)

In [20]:
#df
df

       year month day time  Day-ahead Price [EUR/MWh] Currency
0      2020    01  01   00                      33.42      EUR
1      2020    01  01   01                      31.77      EUR
2      2020    01  01   02                      31.57      EUR
3      2020    01  01   03                      31.28      EUR
4      2020    01  01   04                      30.85      EUR
...     ...   ...  ..  ...                        ...      ...
26302  2022    12  31   19                      67.01      EUR
26303  2022    12  31   20                      40.50      EUR
26304  2022    12  31   21                      14.89      EUR
26305  2022    12  31   22                       9.94      EUR
26306  2022    12  31   23                       4.84      EUR

[26307 rows x 6 columns]

In [16]:
# split the datetime column into two columns using a space as the separator
df[['date', 'time']] = df['Date'].str.split(' ', expand=True)

# split the date column into year, month, and day columns
df[['day', 'month', 'year']] = df['date'].str.split('.', expand=True)

# add an hour column
df['hour'] = df['time'].str.split(':', expand=True)[0]

# drop the original date and time columns
df = df.drop(['Date', 'date', 'time'], axis=1)

In [17]:
#df
df

       Day-ahead Price [EUR/MWh] Currency day month  year hour
0                          33.42      EUR  01    01  2020   00
1                          31.77      EUR  01    01  2020   01
2                          31.57      EUR  01    01  2020   02
3                          31.28      EUR  01    01  2020   03
4                          30.85      EUR  01    01  2020   04
...                          ...      ...  ..   ...   ...  ...
26302                      67.01      EUR  31    12  2022   19
26303                      40.50      EUR  31    12  2022   20
26304                      14.89      EUR  31    12  2022   21
26305                       9.94      EUR  31    12  2022   22
26306                       4.84      EUR  31    12  2022   23

[26307 rows x 6 columns]

In [18]:
# reorder the columns
df.insert(0, 'time', df.pop('hour'))
df.insert(0, 'day', df.pop('day'))
df.insert(0, 'month', df.pop('month'))
df.insert(0, 'year', df.pop('year'))
# df
df

       year month day time  Day-ahead Price [EUR/MWh] Currency
0      2020    01  01   00                      33.42      EUR
1      2020    01  01   01                      31.77      EUR
2      2020    01  01   02                      31.57      EUR
3      2020    01  01   03                      31.28      EUR
4      2020    01  01   04                      30.85      EUR
...     ...   ...  ..  ...                        ...      ...
26302  2022    12  31   19                      67.01      EUR
26303  2022    12  31   20                      40.50      EUR
26304  2022    12  31   21                      14.89      EUR
26305  2022    12  31   22                       9.94      EUR
26306  2022    12  31   23                       4.84      EUR

[26307 rows x 6 columns]